<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
  >
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Como derrotar cada Mob</title>
</head>
<body>
  <header class="header">
    <div class="header__text">
      <h1>Como derrotar a:</h1>
      <p>Solo se incluyen mobs Neutrales y Hostiles.</p>
    </div>
  </header>
  <main>
    {% block content %}
    <h2 class="main__title">Selecciona el Mob:</h2>
    <ul class="list" id="list">
      <!-- Asignación #3 -->
      <li class="list__item">
        <a href="{{url_for ('delfin')}}">
          <img class="item__img" src="../static/img/acuaticos.png" alt="battery">
          <span>Delfín</span></a>
      </li>
      <li class="list__item">
        <a href="{{url_for ('pezglobo')}}">
          <img class="item__img" src="../static/img/mob/pez globo.png" alt="battery">
          <span>Pez Globo</span></a>
      </li>
      <li class="list__item">
        <a href="{{url_for ('guardian')}}">
          <img class="item__img" src="../static/img/mob/guardian.png" alt="battery">
          <span>Guardián</span></a>
      </li>
      <li class="list__item">
        <a href="{{url_for ('guardiananciano')}}">
          <img class="item__img" src="../static/img/mob/guardian anciano.png">
          <span>Guardián Anciano</span></a>
      </li>
      <!--  -->
    </ul>
    {% endblock %}
  </main>
  <footer>

  </footer>
</body>
</html>
